<!DOCTYPE html>
<html>
  <head>
    <title><%= env.application_name %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <%- include /partials/head/css.ejs %>
    <%- include /partials/head/js.ejs %>
    <%- include /partials/head/analytics.ejs %>
    <script>
      $(function() {
        $('.delete-user').click(function() {
          var id = $(this).data('user-id');
          var url = '/admin/delete/' + id;
          $.post(url, function(resp) {
            console.log(resp);
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Admin</h1>
      <%- include /partials/alert.ejs %>
      <div class="row">
        <table class="table table-hover table-striped">
          <thead>
            <th>Username</th>
            <th>ID</th>
            <th>Status</th>
            <th>Delete User</th>
          </thead>
          <% for (var i=0; i<users.length; i++) { %>
            <tr>
              <td><%= users[i].username %></td>
              <td><%= users[i].id %></td>
              <td><%= users[i].status %></td>
              <td><button class="delete-user btn btn-small btn-warning" data-user-id="<%=users[i].id%>">&times;</button></td>
            </tr>
          <% } %>
        </table>

      </div>
    </div>
    <%- include /partials/footer.ejs %>
  </body>
</html>
