<!DOCTYPE html>
<html>
  <head>
    <title>Chat With Friends</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <%- include /partials/head/css.ejs %>
    <%- include /partials/head/js.ejs %>
    <%- include /partials/head/analytics.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script data-main="/js/main" src="/js/require-min.js"></script>
    <script>
      window.channel = "<%= channel %>" || "Public Chat";
    </script>
  </head>

  <body>

    <%- include /partials/header.ejs %>

    <% if (warning) { %>

    <div class="container">
      <div class="row">
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%- warning %>
        </div>
      </div>
    </div>

    <% } %>

    <div class="container">

      <div class="row">
        <div id="content" class="col-md-7">
          <div id="chat"></div>
        </div>
        <div class="col-md-5">
          <h2 class="channel-name"></h2>
          <p><span class="users-online">1 user</span> online</p>
        </div>
      </div>

      <div class="row">
        <div class="controls col-md-12">

          <div class="form-group name-control-group">
            <label for="name">Name *</label>
            <button type="button" class="close name-clear" aria-hidden"true">&times;</button>
            <input id="name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="field">Message</label>

            <ul class="nav nav-tabs post-type-nav">
              <li class="active"><a href="#post-text-pane" data-toggle="tab"><i class="icon-comment-alt"></i></a></li>

              <% if (user && user.status > 0) { %>

              <li><a href="#post-link-pane" data-toggle="tab"><i class="icon-link"></i></a></li>
              <li><a href="#post-image-pane" data-toggle="tab"><i class="icon-picture"></i></a></li>

              <% } %>
            </ul>

            <div class="tab-content post-type-tabs">

              <div class="tab-pane active" id="post-text-pane" data-type="text">
                <div class="form-group">
                  <textarea id="post-text-field" class="form-control message-field" placeholder="Enter a message"></textarea>
                </div>
                <div class="form-group">
                  <button id="post-text" data-type="text" class="btn btn-default btn-lg btn-success post-message">Send</button>
                </div>
              </div>
              <% if (user && user.status > 0) { %>
              <div class="tab-pane" id="post-link-pane" data-type="link">
                <div class="form-group">
                  <textarea id="post-link-field" class="form-control message-field" placeholder="Share a link (please include http://)."></textarea>
                </div>
                <div class="form-group">
                  <button id="post-link" data-type="link" class="btn btn-default btn-lg btn-success post-message">Send</button>
                </div>
              </div>

              <div class="tab-pane" id="post-image-pane" data-type="image">
                <div class="form-group">
                  <textarea id="post-image-field" class="form-control message-field" placeholder="Share an image (please include http://)."></textarea>
                </div>
                <div class="form-group">
                  <button id="post-image" data-type="image" class="btn btn-default btn-lg btn-success post-message">Send</button>
                </div>
              </div>

              <% } %>

            </div>

          </div>

        </div>

      </div>

    </div>
  <%- include /partials/footer.ejs %>
  </body>
</html>
