<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <%- include /partials/head/css.ejs %>
    <%- include /partials/head/js.ejs %>
    <%- include /partials/head/analytics.ejs %>
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Chat With Friends</a>
        </div>
      </div>
    </header>

    <%- include /partials/alert.ejs %>

    <div class="container" id="app-container">

      <h1>Register</h1>

      <form method="post" action="/registration/create">

        <div class="form-group">
          <input type="email" class="form-control" placeholder="email address" name="username" required>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>

      </form>

    </div>
    <%- include /partials/footer.ejs %>
  </body>
</html>
