<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <%- include /partials/head/css.ejs %>
    <%- include /partials/head/js.ejs %>
    <%- include /partials/head/analytics.ejs %>
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Chat With Friends</a>
        </div>
      </div>
    </header>

    <div class="container" id="app-container">
      <h1>Your Account is Awaiting Verification</h1>
      <p>Don't want to verify your account right now? <a href="/c/chat?guest=true">Continue as a Guest</a></p>
      <p><a href="/send_verification/<%= encodeURIComponent(user.username) %>" class="btn btn-primary">Resend verification email</a></p>
    </div>
    <%- include /partials/footer.ejs %>
  </body>
</html>
